@import 'reset';

#wrap {
	width: 1000px;
	height: 600px;
	border: 1px solid red;
	position: relative;
}

#box {
	width: 100px;
	height: 100px;
	background: green;
	position: absolute;
	top: 20px;
	left: 100px;
	opacity: 0.2;
}
